.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 60%;
    border-radius: 50%;
}

.container div {
    color: var(--title);
    font-size: 2.4rem;
    margin-top: 1rem;
}

.container div svg {
    cursor: pointer;
    margin-left: 1rem;
}