.container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 55%;
    height: 30px;

    padding: 2px;

    margin-inline: auto;
    margin-bottom: 2rem;

    border-radius: 20px;

    background-color: var(--gray-line);
}

.container span {
    margin-inline: 5px;
    margin-block: auto;
}

.container div {
    cursor: pointer;
    position: absolute;

    width: 26px;
    height: 26px;

    border-radius: 50%;

    background-color: white;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.container div[aria-checked = true] {
    left: 3.7rem;
}

.container div[aria-checked = false] {
    left: 1.7rem;
}

.container:hover div {
    box-shadow: 0 0 4px 0px rgba(110, 64, 201, 0.6) inset, 0 0 5px 3px rgba(110, 64, 201, 0.6);
}

@media(max-width: 768px) {
    .container div[aria-checked = true] {
        left: 3.8rem;
    }
    
    .container div[aria-checked = false] {
        left: 1.9rem;
    }
}

@media(max-width: 320px) and (orientation: portrait) {
    .container {
        width: 85%;

        font-size: .9rem;
    }

    .container div[aria-checked = true] {
        left: 2.3rem;
    }
    
    .container div[aria-checked = false] {
        left: 0.5rem;
    }
}