.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

@media(max-width: 750px) {
    .container section {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    .container section > div {
        margin: 50px 0;
    }

    .container section div:last-child  > div:last-child {
        height: 500px;
        justify-content: center
    }
}

@media(max-width: 550px) {
    .container section {
        width: 80%;
    }
}

@media(max-width: 420px) {
    .container section {
        width: 95%;
    }
}