.container {
    display: flex;
}

.dashboard {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.dashboard section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

@media(max-width: 823px) and (orientation: landscape) {
    .dashboard {
        overflow-y: scroll;
    }
}

@media(max-width: 750px) {
    .dashboard {
        overflow-y: scroll;
    }

    .dashboard section {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    .dashboard section > div {
        margin: 50px 0;
    }
}

@media(max-width: 550px) {
    .dashboard section {
        width: 80%;
    }
}

@media(max-width: 420px) {
    .dashboard section {
        width: 95%;
    }
}

@media(max-width: 320px) and (orientation: portrait) {
    .dashboard{
        padding: 2.5rem 1rem;
    }
}